body {
    font-family: Arial;
    background-color: #f4f4f4;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: darkred;
}

h3 {
    color: darkgreen;
}

p {
    font-size: 16px;
}

code {
    background-color: #eee;
    padding: 5px;
    display: block;
}